@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');
/* first and second page both body */
body{
    font-family: 'Barlow Condensed', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #161616;
    width: 1250px;
    margin-top: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
}
/* Greatest show onthe earth */
.intro{
    position: relative;
}

.first-part{
    display: grid;
    padding: 5%;
    color: #FFFFFF;
}
h1{
    font-size: 70px;
    display: flex;
}
.para-first{
    font-size: 16px;
    width: 50%;
    display: flex;
    margin-top: -20px;
}
.watch-live{
    
    background-color: #DD0000;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    border-radius: 10px;
    color: #FFFFFF;
}
.angle-right{
    position: relative;
}
/* messi pic */
.messi-div{
    margin-top: -60%;
    float: right;
}
.messi{
    width:440px ;
    margin-top: 30px;
    margin-right: 30px;
}
/* Blog,upcoming match and all groups section */
.section-blog{
    margin-bottom: 150px;
    width:1250px ;
    display: grid;
    grid-template-columns: repeat(2,.2fr); 
    
}
.blog-div{
    background-color:#161616 ;
    border-radius: 15px;
    padding: 30px;
    margin-right: 30px;
    height: 250px;
    width: 200px;
    
    
}
.items{
    margin-top: 20px;
}
.item{
    background-color:#FFFFFF ;
    color: #161616;
    margin-bottom: 30px;
    text-align: center;
   padding:10px  ;
   border-radius: 10px;
   
}
.execpt-item{
    background-color:#DD0000 ;
    text-align: center;
    padding:10px  ;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
#except-item{
    color: #FFFFFF;
}
.links{
    font-size: 20px;
    text-decoration: none;
    color: #161616;
}
/*match video thumbnail part */
.videos{
    display: flex;
   
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-row-gap:10px;
    grid-column-gap: 10px;

}
.video{
    border-radius: 15px;
    box-shadow: 1px 1px  #a99e9ea8 ;
    position: relative;

}
.thumbnail{
    width: 312px;
    height: 175px;
    margin-top: 20px;
    
}
.trans-btn{
    text-align: center;
    text-decoration: none;
    background-color: #828080b0;
    display: flex;
   margin-top: 10px;
   margin-left: 10px;
}
/* Font awesome in videos */
.fa-clock{
    margin-left: 15px ;
    margin-bottom: 15px;
    color: #6c6b6bcb;
}

.fa-message{
    color: #828080b0;
    margin-left: 20px;
    margin-bottom: 15px;

}

.trans-para{
font-size: 18px;
margin-left: 10px;
}
/* Footer starts from here */
.footer-div{
    display: grid;
}
.goal-div{
    
    width: 100%;
    background-color:#161616 ;
}
.goal-div h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
}
hr{
    width: 90%;
}
.footer-links{
    text-align: center;
    margin-bottom: 30px;

}
/* Social media icons */
.flinks{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 15px;
   
}
.fa-brands{
    color: #FFFFFF;
    margin: 25px;
}
/* Onclicking upcoming match ------2nd page */
 .flag{
    width: 93px;
    height: 54px;
    padding: 15px;
   
 }
 /* France vs germany */
 .matches{
    display: flex;
   
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-row-gap:10px;
    grid-column-gap: 10px;
    
    

 }
 .all-match{
    border-radius: 15px;
    box-shadow: 1px 1px  #a99e9ea8 ;
    position: relative;
    

 }
 .match{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    
 }
 #flag-span{display: flex;
    margin:15px;
    margin-top: 15px;
    padding-top: 15px;
    font-weight: 700;
 }
 .match-para{
   
    align-items: center;
    font-size: 20px;
    text-align: center;  
 }
 .match-para2{
   
    color: #4D4D4D;
    font-size: 16px;
    text-align: center;
    
 }
 